@charset "UTF-8";
html {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  box-sizing: border-box;
  font-family: Montserrat, Tahoma, sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

/* estilos para textos y headliners */
.encabezado {
  margin: 0.5rem 0.8rem 0.5rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#titulo {
  font-size: 3rem;
  line-height: 1em; }

.titulo {
  font-size: 2.8rem;
  line-height: 1em;
  margin: 1rem 0; }

.subtitulo {
  font-size: 1.8rem;
  line-height: 2rem; }

.sub-subtitulo {
  font-size: 1.4rem;
  margin: 1rem; }

.cuerpo p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1em 0;
  font-family: Roboto; }

.temas-link {
  text-decoration: none;
  color: #969696; }

.temas-link:hover {
  color: #585858; }

.pie-foto {
  margin: 0 auto;
  font-weight: 300;
  font-size: 1rem;
  border-left: #cc2e43 solid 1px;
  padding-left: 1rem;
  width: 80%; }

.padding-texto {
  padding: 0 2em; }

/* estilos de imagen */
.piezas-img {
  max-width: 100%; }

.container-img {
  text-align: center;
  margin-bottom: 0.3rem; }

.img-index {
  width: 80%;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  margin: 0 auto;
  display: inline-block;
  border: #333 2px solid;
  box-shadow: 0 0 20px 3spx; }

.background-chess {
  background-image: url(../assets/images/fondo-cuadricula.webp);
  background-repeat: repeat; }

.tactica-img {
  text-align: center;
  margin: 0 auto;
  width: 50%; }
  .tactica-img img {
    width: 100%; }

/* Inicio header (parar todas las páginas)*/
header {
  z-index: 1000;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #333;
  color: white;
  padding: 2rem 0;
  box-shadow: 2px 2px 20px black; }
  header .container-header {
    height: 100%;
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .container-header ul {
      list-style-type: none; }
      header .container-header ul a {
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
        font-weight: 300;
        transition: all 0.4s; }
        header .container-header ul a:hover {
          color: #c57a44; }
      header .container-header ul li {
        padding: 0 1rem;
        display: inline-block; }
    header .container-header .logo {
      height: 100px;
      transition: all 0.5s; }
      header .container-header .logo:hover {
        height: 120px; }

/* apertura nav mobile */
#nav-mobile {
  height: 10%;
  width: 100%;
  position: relative;
  z-index: 999;
  background-color: #333;
  display: none;
  padding: 1% 7% 1% 7%; }

.nav-menu {
  display: none; }

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.5rem; }

.nav-menu li {
  padding: 0.5rem; }

.nav-menu a {
  color: white;
  text-decoration: none; }

.nav-input {
  display: none; }

.nav-input:checked + .nav-menu {
  display: block; }

/* cierre menu mobile */
/* estructura main */
.main-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "aside-izq cuerpo aside-der"; }
  .main-grid .aside-izq {
    grid-area: aside-izq; }
  .main-grid .cuerpo {
    padding: 1em;
    grid-area: cuerpo;
    position: relative;
    z-index: 500;
    box-shadow: 0 -20px 20px 1px;
    background-color: #fff7e9; }
  .main-grid .aside-der {
    grid-area: aside-der; }

/* footer para todas las páginas*/
footer {
  height: auto;
  width: 100%;
  padding: 2em 0;
  background-size: cover;
  background-color: #181818;
  box-shadow: inset 0 0 30px 5px; }
  footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; }
    footer .footer-content h3 {
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem; }
    footer .footer-content p {
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px; }
    footer .footer-content .footer-redes {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0; }
      footer .footer-content .footer-redes li {
        margin: 0 10px;
        font-size: 1.1rem; }
        footer .footer-content .footer-redes li a {
          text-decoration: none; }
          footer .footer-content .footer-redes li a img {
            width: 80px;
            transition: width 0.4s; }
            footer .footer-content .footer-redes li a img:hover {
              width: 90px; }
      footer .footer-content .footer-redes .footer-bottom {
        background-color: #cccccc;
        width: 100vw;
        padding: 20px 0;
        text-align: center; }
        footer .footer-content .footer-redes .footer-bottom p {
          font-size: 14px;
          word-spacing: 2px;
          text-transform: capitalize; }
        footer .footer-content .footer-redes .footer-bottom span {
          text-transform: uppercase;
          opacity: 0.4;
          font-weight: 200; }

/* pagina de piezas */
/* slider */
.espacio-slider {
  padding: 1rem;
  padding-bottom: 0;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between; }
  .espacio-slider .container-all {
    position: relative;
    margin: 2rem;
    max-width: 400px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden; }
    .espacio-slider .container-all #cabecera-slider {
      margin-bottom: 0.5rem;
      padding: 0;
      text-align: center; }
    .espacio-slider .container-all .slide {
      display: flex;
      transform: translate3d(0, 0, 0);
      transition: all 600ms;
      animation-name: autoplay;
      animation-duration: 6.5s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite; }
      .espacio-slider .container-all .slide .item-slide {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 100%; }
    .espacio-slider .container-all .pagination {
      margin-bottom: 1.5rem;
      position: absolute;
      bottom: 20px;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .espacio-slider .container-all .pagination .pagination-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid white;
        width: 30px;
        height: 52px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5);
        margin: 15px 12px;
        text-align: center;
        transition: all 300ms; }
        .espacio-slider .container-all .pagination .pagination-item:hover {
          transform: scale(2); }
        .espacio-slider .container-all .pagination .pagination-item img {
          display: inline-block;
          max-width: none;
          height: 100%;
          transform: scale(1);
          opacity: 0;
          transition: all 300ms; }
        .espacio-slider .container-all .pagination .pagination-item:hover img {
          opacity: 1;
          transform: scale(1); }

input[id="slide-1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0); }

input[id="slide-1"]:checked ~ .pagination .pagination-item[for="slide-1"] {
  background-color: rgba(0, 0, 0, 0.7); }

input[id="slide-2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0); }

input[id="slide-2"]:checked ~ .pagination .pagination-item[for="slide-2"] {
  background-color: rgba(0, 0, 0, 0.7); }

input[id="slide-3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0); }

input[id="slide-3"]:checked ~ .pagination .pagination-item[for="slide-3"] {
  background-color: rgba(0, 0, 0, 0.7); }

input[id="slide-4"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 3), 0, 0); }

input[id="slide-4"]:checked ~ .pagination .pagination-item[for="slide-4"] {
  background-color: rgba(0, 0, 0, 0.7); }

input[id="slide-5"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 4), 0, 0); }

input[id="slide-5"]:checked ~ .pagination .pagination-item[for="slide-5"] {
  background-color: rgba(0, 0, 0, 0.7); }

input[id="slide-6"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 5), 0, 0); }

input[id="slide-6"]:checked ~ .pagination .pagination-item[for="slide-6"] {
  background-color: rgba(0, 0, 0, 0.7); }

/* cierre slider */
.texto-piezas {
  margin-top: 1.5rem;
  flex-grow: 0;
  flex-basis: 80em; }

/* apertura pagina de contacto */
#main-contacto {
  height: 800px; }

.contenedor-contacto {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor {
  width: 75%; }

.form-title {
  font-weight: normal;
  color: #f0f4f7;
  padding: 0.9rem 0; }

.form {
  background: rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 0.2rem 2.1rem 2rem 2.1rem;
  border-radius: 3px; }

.form-label {
  display: block;
  color: #fbcf7f;
  font-size: 1rem;
  position: relative; }

.form a {
  text-decoration: none; }

.form-input,
.form-textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border-radius: 2px;
  font-size: 14px;
  color: white; }

.form-textarea {
  resize: vertical;
  max-height: 100px;
  min-height: 50px; }

.btn-submit {
  width: 100%;
  outline: none;
  background: #ffc14f;
  font-size: 16px;
  border: none;
  color: black;
  padding: 1rem 0;
  cursor: pointer;
  transition: all 0.5s ease; }

.btn-submit:hover {
  background: #ffd381; }

/* cierre pagina de contacto */
.listposition-inside {
  list-style-type: disc;
  list-style-position: inside; }

.fig-tacticas {
  text-align: center;
  margin: auto;
  width: 50%; }

@media screen and (max-width: 1024px) {
  .nav-subsecciones-ul {
    display: none; }
  .temas-link {
    font-size: 1.5rem;
    padding: 0 0.5rem; }
  .quitar {
    display: none; }
  .espacio-slider {
    display: block;
    text-align: center;
    margin: auto; }
  .container-all {
    margin: auto; } }

@media screen and (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-grid {
    grid-template-columns: 1fr 12fr 1fr; }
  .nav-secciones-enlace {
    font-size: 1rem; }
  .nav-secciones {
    display: none; }
  #nav-mobile {
    display: block; }
  header {
    display: none; } }

@media screen and (max-width: 664px) {
  .main-grid {
    grid-template-columns: 2% 96% 2%; }
  .fig-tacticas {
    width: 100%; } }

@media screen and (max-width: 480px) {
  .main-grid {
    display: flex; }
  .aside-izq {
    display: none; }
  .aside-der {
    display: none; }
  .cuerpo {
    height: 100%; }
  .tactica-img {
    width: 100%; } }

@media screen and (max-width: 320px) {
  .box__footer .logo img {
    width: 80%; }
  .box__footer .logo img:hover {
    width: 82%; } }

/* apertura nav izquierdo */
.sticky {
  position: sticky;
  top: 1%; }

.nav-secciones {
  text-align: center;
  margin: 3% 6%;
  padding: 2%;
  box-shadow: 0 0 10px 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.704); }

.nav-secciones-ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin: auto; }

.nav-secciones-li {
  margin-bottom: 1rem; }

.nav-secciones-enlace {
  color: white;
  font-size: 1.2rem;
  transition: all 0.4s;
  text-decoration: none; }

.nav-secciones-enlace:hover {
  color: #fbcf7f;
  text-decoration: underline; }

.nav-subsecciones-ul {
  padding: 0;
  color: white;
  list-style-type: none;
  padding-top: 0.5rem; }

.nav-subsecciones-li {
  padding-top: 0.5rem; }

.nav-subsecciones-enlace {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  transition: color 0.4s; }

.nav-subsecciones-enlace:hover {
  color: #fbcf7f; }

.enlaces-inferior-li:hover {
  color: #fbcf7f; }
