html {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
    box-sizing: border-box;
    font-family: Montserrat;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

@import "./variables";

@import "./mixins";

@import "./elements/textos-headliners";

@import "./elements/estilos-imagen";

@import "./elements/header";

@import "./elements/nav-mobile";

@import "./elements/estructura-main";

@import "./elements/footer";

@import "./pages";

@import "./elements/nav-izquierdo";

@import "./elements/media-queries";
