/* pagina de piezas */

.piezas-img {
    max-width: 100%;
}

/* slider */

.cont-slider {
    width: fit-content;
    margin: auto;

    .espacio-slider {
        display: flex;
        justify-content: space-between;

        .container-all {
            position: relative;
            margin: 2rem;
            max-width: 400px;
            width: 100%;
            border-radius: 6px;
            overflow: hidden;

            input[id="slide-1"]:checked ~ .slide {
                animation: none;
                transform: translate3d(0, 0, 0);
            }

            input[id="slide-1"]:checked
                ~ .pagination
                .pagination-item[for="slide-1"] {
                background-color: rgba(0, 0, 0, 0.7);
            }

            input[id="slide-2"]:checked ~ .slide {
                animation: none;
                transform: translate3d(calc(-100% * 1), 0, 0);
            }

            input[id="slide-2"]:checked
                ~ .pagination
                .pagination-item[for="slide-2"] {
                background-color: rgba(0, 0, 0, 0.7);
            }

            input[id="slide-3"]:checked ~ .slide {
                animation: none;
                transform: translate3d(calc(-100% * 2), 0, 0);
            }

            input[id="slide-3"]:checked
                ~ .pagination
                .pagination-item[for="slide-3"] {
                background-color: rgba(0, 0, 0, 0.7);
            }

            input[id="slide-4"]:checked ~ .slide {
                animation: none;
                transform: translate3d(calc(-100% * 3), 0, 0);
            }

            input[id="slide-4"]:checked
                ~ .pagination
                .pagination-item[for="slide-4"] {
                background-color: rgba(0, 0, 0, 0.7);
            }

            input[id="slide-5"]:checked ~ .slide {
                animation: none;
                transform: translate3d(calc(-100% * 4), 0, 0);
            }

            input[id="slide-5"]:checked
                ~ .pagination
                .pagination-item[for="slide-5"] {
                background-color: rgba(0, 0, 0, 0.7);
            }

            input[id="slide-6"]:checked ~ .slide {
                animation: none;
                transform: translate3d(calc(-100% * 5), 0, 0);
            }

            input[id="slide-6"]:checked
                ~ .pagination
                .pagination-item[for="slide-6"] {
                background-color: rgba(0, 0, 0, 0.7);
            }

            #cabecera-slider {
                margin-bottom: 0.5rem;
                padding: 0;
                text-align: center;
            }

            .slide {
                display: flex;
                transform: translate3d(0, 0, 0);
                transition: all 600ms;
                animation-name: autoplay;
                animation-duration: 6.5s;
                animation-direction: alternate;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;

                .item-slide {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    flex-grow: 0;
                    max-width: 100%;
                }
            }

            .pagination {
                margin-bottom: 1.5rem;
                position: absolute;
                bottom: 20px;
                left: 0;
                @include flex-center;
                flex-wrap: nowrap;
                width: 100%;

                .pagination-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 2px solid white;
                    width: 30px;
                    height: 52px;
                    border-radius: 4px;
                    overflow: hidden;
                    cursor: pointer;
                    background: rgba(255, 255, 255, 0.5);
                    margin: 15px 12px;
                    text-align: center;
                    transition: all 300ms;
                    flex-shrink: 1;

                    &:hover {
                        transform: scale(2);
                    }

                    img {
                        display: inline-block;
                        max-width: none;
                        height: 100%;
                        transform: scale(1);
                        opacity: 0;
                        transition: all 300ms;
                    }

                    &:hover img {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

/* cierre slider */
