.fig-tacticas {
    text-align: center;
    margin: auto;
    width: 50%;
}

.tactica-img {
    text-align: center;
    margin: 0 auto;

    img {
        width: 100%;
        max-width: 500px;
    }
}
