/* estilos de imagen */

.container-img {
    @include imgcont;
}

.background-chess {
    background-image: url(../assets/images/fondo-cuadricula.webp);
    background-repeat: repeat;
    background-attachment: fixed;
}
