/* estilos de imagen */

.container-img {
    text-align: center;
    margin-bottom: 0.3rem;
}

.background-chess {
    background-image: url(../assets/images/fondo-cuadricula.webp);
    background-repeat: repeat;
}
