/* apertura nav mobile */

#nav-mobile {
    height: 10%;
    width: 100%;
    position: relative;
    z-index: 999;
    background-color: #333;
    display: none;
    padding: 1% 7% 1% 7%;

    .nav-input {
        display: none;

        &:checked + .nav-menu {
            display: block;
        }
    }

    .nav-menu {
        display: none;

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 0.5rem;

            li {
                padding: 0.5rem;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    img {
        width: 100%;
        max-width: 50px;
    }
}

/* cierre menu mobile */
